{% trans_default_domain 'FOSUserBundle' %}

{#{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
{{ form_widget(form) }}
<div>
    <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
</div>
<h1>Bebe</h1>
{{ form_end(form) }}#}

<div class="container">

    <div class="col-md-12">

        <ul class="breadcrumb">
            <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
            </li>
            <li>Mon compte</li>
        </ul>

    </div>

    <div class="col-md-3">
        <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
        {{ render(controller("ecommerceUserBundle:Profile:user_section")) }}

        <!-- *** CUSTOMER MENU END *** -->
    </div>

    <div class="col-md-9">
        <div class="box">
            <h1>Profile</h1>
            <p class="lead">Mettre à jour ici vos informations personnelles.</p>
            <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

            <hr>

            <h3>Détails personnel</h3>
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control' } }) }}
                            {{ form_errors(form.username) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control' } }) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.first_name) }}
                            {{ form_widget(form.first_name, { 'attr': {'class': 'form-control' } }) }}
                            {{ form_errors(form.first_name) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.last_name) }}
                            {{ form_widget(form.last_name, { 'attr': {'class': 'form-control' } }) }}
                            {{ form_errors(form.last_name) }}
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            {{ form_label(form.gender) }}
                            {{ form_widget(form.gender, { 'attr': {'class': 'form-control' } }) }}
                            {{ form_errors(form.gender) }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            {{ form_label(form.telephone) }}
                            {{ form_widget(form.telephone, { 'attr': {'class': 'form-control' } }) }}
                            {{ form_errors(form.telephone) }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city, { 'attr': {'class': 'form-control' } }) }}
                            {{ form_errors(form.city) }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            {{ form_label(form.province) }}
                            {{ form_widget(form.province, { 'attr': {'class': 'form-control' } }) }}
                            {{ form_errors(form.province) }}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.birth_date) }}
                            {{ form_widget(form.birth_date, { 'attr': {'class': 'form-control' } }) }}
                            {{ form_errors(form.birth_date) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.address) }}
                            {{ form_widget(form.address, { 'attr': {'class': 'form-control', 'rows': '3' } }) }}
                            {{ form_errors(form.address) }}
                        </div>
                    </div>

                    {{ form_rest(form) }}

                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Modifier mes infos</button>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /.container -->