{% trans_default_domain 'FOSUserBundle' %}

<section id="yt_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
                    </li>
                    <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                    <li>Modification</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <div class="col-sm-3">
        <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
        {% include "ecommerceUserBundle:Profile:user_section.html.twig" %}

        <!-- *** CUSTOMER MENU END *** -->
    </div>

    <div class="col-sm-9">
        <div id="content" class="col-md-12">
            <h1 class="text-center">Modification du profile</h1>

            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST">
                <fieldset id="account">
                    <legend>Informations personnelles</legend>

                    <div class="form-group required">
                        <label class="col-sm-3 control-label text-right" for="input-firstname">Nom d'utilisateur</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.username) }}
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-group required">
                        <label class="col-sm-3 control-label text-right" for="input-firstname">Adresse e-mail</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse e-mail' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-group required">
                        <label class="col-sm-3 control-label text-right" for="input-firstname">Prénom</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.first_name, { 'attr': {'class': 'form-control', 'placeholder': 'Votre prénom' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.first_name) }}
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-group required">
                        <label class="col-sm-3 control-label text-right" for="input-firstname">Nom</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.last_name, { 'attr': {'class': 'form-control', 'placeholder': 'Votre nom de famille' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.last_name) }}
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-group required">
                        <label class="col-sm-3 control-label text-right" for="input-firstname">Sexe</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.gender, { 'attr': {'class': 'form-control' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.gender) }}
                            </div>
                        </div>
                    </div>

                </fieldset>


                <fieldset id="address">
                    <legend>Information de contact</legend>

                    <div class="form-group required">
                        <label class="col-sm-3 control-label text-right" for="input-firstname">Téléphone</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.telephone, { 'attr': {'class': 'form-control' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.telephone) }}
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-group required">
                        <label class="col-sm-3 control-label text-right" for="input-company">Ville</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.city, { 'attr': {'class': 'form-control', 'placeholder': 'Ex: Lubumbashi' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.city) }}
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-group required">
                        <label class="col-sm-3 control-label text-right" for="input-company">Province</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.province, { 'attr': {'class': 'form-control' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.province) }}
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-group required">
                        <label class="col-sm-3 control-label text-right" for="input-company">Date de naissance</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.birth_date, { 'attr': {'class': 'form-control', 'placeholder': 'Ex: 02-12-1990' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.birth_date) }}
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-group required">
                        <label class="col-sm-3 control-label text-right" for="input-company">Site web</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.website, { 'attr': {'class': 'form-control', 'placeholder': 'Ex: www.votresite.com' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.website) }}
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-group required">
                        <label class="col-sm-3 control-label text-right" for="input-company">Adresse</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.address, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'Votre adresse de résidence' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.address) }}
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="form-group">
                        <label class="col-sm-3 control-label text-right" for="input-company">Image</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.image) }}
                            <p class="help-block">Sélectionnez votre image de profile</p>
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.image) }}
                            </div>
                        </div>
                    </div>

                </fieldset>

                {{ form_rest(form) }}

                <div class="buttons clearfix">
                    <div class="pull-left"><a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">Précédent</a>
                    </div>
                    <div class="pull-right">
                        <input value="Enregistrer Modifications" class="btn btn-primary" type="submit">
                    </div>
                </div>

                {#<div class="buttons">
                    <div class="pull-right">
                        <input value="Enregistrer Modifications" class="btn btn-primary" type="submit">
                    </div>
                </div>#}

            </form>

        </div>


        {#<div class="box">
            <h3 class="text-center">Modifier vos détails personnel</h3>
            <hr>
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Nom utilisateur' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.username) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse mail' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.first_name) }}
                            {{ form_widget(form.first_name, { 'attr': {'class': 'form-control', 'placeholder': 'Prenom' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.first_name) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.last_name) }}
                            {{ form_widget(form.last_name, { 'attr': {'class': 'form-control', 'placeholder': 'Nom' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.last_name) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            {{ form_label(form.gender) }}
                            {{ form_widget(form.gender, { 'attr': {'class': 'form-control' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.gender) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            {{ form_label(form.telephone) }}
                            {{ form_widget(form.telephone, { 'attr': {'class': 'form-control', 'placeholder': 'Téléphone' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.telephone) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city, { 'attr': {'class': 'form-control', 'placeholder': 'Votre ville' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.city) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            {{ form_label(form.province) }}
                            {{ form_widget(form.province, { 'attr': {'class': 'form-control' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.province) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.birth_date) }}
                            {{ form_widget(form.birth_date, { 'attr': {'class': 'form-control', 'placeholder': '01-11-1990' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.birth_date) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.website) }}
                            <div class="input-group">
                                <div class="input-group-addon">http://</div>
                                {{ form_widget(form.website, { 'attr': {'class': 'form-control', 'placeholder': 'Votre site web' } }) }}
                            </div>
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.website) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_widget(form.image) }}
                            <p class="help-block">Sélectionnez l’image de votre profile.</p>
                            <div class="has-error">
                                {{ form_errors(form.image) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.address) }}
                            {{ form_widget(form.address, { 'attr': {'class': 'form-control', 'rows': '2', 'placeholder': 'Votre adresse' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.address) }}
                            </div>
                        </div>
                    </div>

                    {{ form_rest(form) }}

                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer
                        </button>

                    </div>
                </div>
            </form>
        </div>#}
    </div>

</div>
<!-- /.container -->

<br><br>