{% trans_default_domain 'FOSUserBundle' %}

{#<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    Bebe
</div>#}

<div class="container">

    <div class="col-md-12">

        <ul class="breadcrumb">
            <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
            </li>
            <li>Mon compte</li>
        </ul>

    </div>

    <div class="col-md-3">
        <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
        {{ render(controller("ecommerceUserBundle:Profile:user_section")) }}

        <!-- *** CUSTOMER MENU END *** -->
    </div>

    <div class="col-md-9">
        <div class="box">
            {#<h1>Profile</h1>#}
            {#<p class="lead">Informations générales.</p>#}

            {#<hr>#}

            <h3 class="text-center">Détails personnel</h3>

            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>{{ 'profile.show.username'|trans }} :</dt>
                        <dd>{{ user.username }}</dd>

                        <dt>{{ 'profile.show.email'|trans }} :</dt>
                        <dd>{{ user.email }}</dd>

                        <dt>{{ 'profile.show.telephone'|trans }} :</dt>
                        <dd>{{ user.getTelephone() }}</dd>

                        <dt>{{ 'profile.show.last_login'|trans }} :</dt>
                        <dd>{{ user.lastLogin|date('d-M-Y H:i:s') }}</dd>

                        <dt>{{ 'profile.show.created'|trans }} :</dt>
                        <dd>{{ user.getCreated()|date('d-M-Y') }}</dd>

                        <dt>{{ 'profile.show.birth_date'|trans }} :</dt>
                        <dd>{{ user.getBirthDate()|date('d-M-Y') }}</dd>

                        <dt>{{ 'profile.show.website'|trans }} :</dt>
                        <dd><a target="_blank" href="{{ user.getWebsite() }}">{{ user.getWebsite() }}</a></dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>{{ 'profile.show.first_name'|trans }} :</dt>
                        <dd>{{ user.getFirstName() }}</dd>

                        <dt>{{ 'profile.show.last_name'|trans }} :</dt>
                        <dd>{{ user.getLastName() }}</dd>

                        <dt>{{ 'profile.show.gender'|trans }} :</dt>
                        <dd>{{ user.getGender() }}</dd>

                        <dt>{{ 'profile.show.city'|trans }} :</dt>
                        <dd>{{ user.getCity() }}</dd>

                        <dt>{{ 'profile.show.province'|trans }} :</dt>
                        <dd>{{ user.getProvince() }}</dd>

                        <dt>{{ 'profile.show.address'|trans }} :</dt>
                        <dd>{{ user.getAddress() }}</dd>
                    </dl>
                </div>

                <div class="col-sm-12" id="details">
                    <div class="social col-sm-6">
                        <h4>Vos produits publié</h4>
                        <h5>
                            <a href="{{ path('ecommerce_article_publisher_items', {'id': user.getId(), 'username': user.getUserName()}) }}">
                                http://www.watinu.com/shop/u/{{ user.getId() }}/{{ user.getUserName() }}
                            </a>
                        </h5>
                    </div>

                    <div class="social col-sm-6">
                        <h4>Partager avec les amis</h4>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="fb-share-button"
                                     data-href="{{ path('ecommerce_article_publisher_items', {'id': user.getId(), 'username': user.getUserName()}) }}"
                                     data-layout="button"></div>
                            </div>

                            <div class="col-xs-4">
                                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                            </div>

                            <div class="col-xs-4">
                                <div class="g-plus" data-action="share" data-annotation="none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-6 text-center">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary"><i class="fa fa-save"></i>
                        Modifier mes infos</a>
                </div>
                <div class="col-sm-6 text-center">
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary"><i class="fa fa-save"></i>
                        Changer mot de passe</a>
                </div>
            </div>
            <!-- /.row -->
        </div>

    </div>

</div>
<!-- /.container -->