{% trans_default_domain 'FOSUserBundle' %}

{#<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    Bebe
</div>#}

<div class="container">

    <div class="col-md-12">

        <ul class="breadcrumb">
            <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
            </li>
            <li>Mon compte</li>
        </ul>

    </div>

    <div class="col-md-3">
        <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
        {{ render(controller("ecommerceUserBundle:Profile:user_section")) }}

        <!-- *** CUSTOMER MENU END *** -->
    </div>

    <div class="col-md-9">
        <div class="box">
            <h1>Profile</h1>
            <p class="lead">Mettre à jour ici vos informations personnelles.</p>
            <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

            <hr>

            <h3>Détails personnel</h3>
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="firstname">{{ 'profile.show.username'|trans }}</label>
                            <input type="text" class="form-control" id="firstname" value="{{ user.username }}" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="firstname">{{ 'profile.show.email'|trans }}</label>
                            <input type="text" class="form-control" id="firstname" value="{{ user.email }}" disabled="disabled">
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="firstname">{{ 'profile.show.nom'|trans }}</label>
                            <input type="text" class="form-control" id="firstname" value="{{ user.nom }}" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="firstname">{{ 'profile.show.prenom'|trans }}</label>
                            <input type="text" class="form-control" id="firstname" value="{{ user.prenom }}" disabled="disabled">
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="city">{{ 'profile.show.sexe'|trans }}</label>
                            <select class="form-control" id="state" value="{{ user.sexe }}" disabled="disabled">
                                <option>Masculin</option>
                                <option>Feminin</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="city">{{ 'profile.show.telephone'|trans }}</label>
                            <input type="text" class="form-control" id="city" value="{{ user.telephone }}" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="city">{{ 'profile.show.ville'|trans }}</label>
                            <select class="form-control" id="state" value="{{ user.ville }}" disabled="disabled">
                                <option>Likasi</option>
                                <option>Lubumbashi</option>
                                <option>Kolwezi</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="city">{{ 'profile.show.province'|trans }}</label>
                            <select class="form-control" id="state" value="{{ user.province }}" disabled="disabled">
                                <option>Lualaba</option>
                                <option>Haut-Katanga</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="phone">{{ 'profile.show.adresse'|trans }}</label>
                            <textarea type="text" class="form-control" id="phone" value="{{ user.adresse }}" desabled rows="3" disabled="disabled"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Modifier mes infos</button>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /.container -->