{% trans_default_domain 'FOSUserBundle' %}

{#<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    Bebe
</div>#}

<section id="yt_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
                    </li>
                    <li>Profile</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <div class="col-md-3">
        <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
        {% include "ecommerceUserBundle:Profile:user_section.html.twig" %}

        <!-- *** CUSTOMER MENU END *** -->
    </div>

    <div class="col-md-9">
        <div class="box">
            {#<h1>Profile</h1>#}
            {#<p class="lead">Informations générales.</p>#}

            {#<hr>#}

            <h3 class="text-center">Détails personnel</h3>

            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>{{ 'profile.show.username'|trans }} :</dt>
                        <dd>{{ user.username }}</dd>

                        <dt>{{ 'profile.show.email'|trans }} :</dt>
                        <dd>{{ user.email }}</dd>

                        <dt>{{ 'profile.show.telephone'|trans }} :</dt>
                        <dd>{{ user.getTelephone() }}</dd>

                        <dt>{{ 'profile.show.last_login'|trans }} :</dt>
                        <dd>{{ user.lastLogin|date('d-M-Y H:i:s') }}</dd>

                        <dt>{{ 'profile.show.created'|trans }} :</dt>
                        <dd>{{ user.getCreated()|date('d-M-Y') }}</dd>

                        <dt>{{ 'profile.show.birth_date'|trans }} :</dt>
                        <dd>{{ user.getBirthDate()|date('d-M-Y') }}</dd>

                        <dt>{{ 'profile.show.website'|trans }} :</dt>
                        <dd><a target="_blank"
                               href="{% if user.getWebsite() matches '/^http*/' %}{{ user.getWebsite() }}{% else %}http://{{ user.getWebsite() }}{% endif %}">{{ user.getWebsite() }}</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>{{ 'profile.show.first_name'|trans }} :</dt>
                        <dd>{{ user.getFirstName() }}</dd>

                        <dt>{{ 'profile.show.last_name'|trans }} :</dt>
                        <dd>{{ user.getLastName() }}</dd>

                        <dt>{{ 'profile.show.gender'|trans }} :</dt>
                        <dd>{{ user.getGender() }}</dd>

                        <dt>{{ 'profile.show.city'|trans }} :</dt>
                        <dd>{{ user.getCity() }}</dd>

                        <dt>{{ 'profile.show.province'|trans }} :</dt>
                        <dd>{{ user.getProvince() }}</dd>

                        <dt>{{ 'profile.show.address'|trans }} :</dt>
                        <dd>{{ user.getAddress()|nl2br }}</dd>
                    </dl>
                </div>

                <div class="col-sm-12" id="details">
                    <div class="social col-sm-6">
                        <h4>Vos produits publié</h4>
                        <h5>
                            <a href="{{ path('ecommerce_article_publisher_items', {'id': user.getId(), 'username': user.getUserName()}) }}">
                                http://www.tootiye.com/shop/u/{{ user.getId() }}/{{ user.getUserName() }}
                            </a>
                        </h5>
                    </div>

                    <div class="social col-sm-6">
                        <h4>Partager avec les amis</h4>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="fb-share-button"
                                     data-href="{{ path('ecommerce_article_publisher_items', {'id': user.getId(), 'username': user.getUserName()}) }}"
                                     data-layout="button"></div>
                            </div>

                            <div class="col-xs-4">
                                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                            </div>

                            <div class="col-xs-4">
                                <div class="g-plus" data-action="share" data-annotation="none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary"><i class="fa fa-save"></i>
                        Modifier le profile</a>
                </div>
            </div>
            <!-- /.row -->
        </div>

    </div>

</div>
<!-- /.container -->

<script src="https://apis.google.com/js/platform.js" async defer>
    {
        lang: 'fr'
    }
</script>

<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');
</script>