{% trans_default_domain 'FOSUserBundle' %}

<div class="container">

    <div class="col-md-12">

        <ul class="breadcrumb">
            <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
            </li>
            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
            <li>Sécurité</li>
        </ul>

    </div>

    <div class="col-md-3">
        <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
        {% include "ecommerceUserBundle:Profile:user_section.html.twig" %}

        <!-- *** CUSTOMER MENU END *** -->
    </div>

    <div class="col-md-9">
        <div class="box">
            <h3 class="text-center">Modifier le mot de passe</h3>
            <hr>

            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            {{ form_label(form.current_password) }}
                            {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe actuel' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.current_password) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            {{ form_label(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Nouveau mot de passe' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            {{ form_label(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Répéter le nouveau mot de passe' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        </div>
                    </div>

                    <!-- /.row -->

                    {{ form_rest(form) }}

                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Modifier le mot de
                            passe
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /.container -->