{% trans_default_domain 'FOSUserBundle' %}


<section id="yt_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
                    </li>
                    <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                    <li>Sécurité</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <div class="col-sm-3">
        <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
        {% include "ecommerceUserBundle:Profile:user_section.html.twig" %}

        <!-- *** CUSTOMER MENU END *** -->
    </div>

    <div class="col-sm-9">
        <div id="content" class="col-md-12">
            <h1 class="text-center">Changer mot de passe</h1>

            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            <fieldset id="account">
                <legend>Changer mot de passe</legend>

                {% if form_errors(form.current_password) or form_errors(form.plainPassword.first) or form_errors(form.plainPassword.second) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.current_password) }}
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                {% endif %}

                <div class="form-group required">
                    <label class="col-sm-3 control-label text-right" for="input-firstname">Mot de passe actuel</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control' } }) }}
                    </div>
                </div>

                <br><br>

                <div class="form-group required">
                    <label class="col-sm-3 control-label text-right" for="input-firstname">Nouveau mot de passe</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control' } }) }}
                    </div>
                </div>

                <br><br>

                <div class="form-group required">
                    <label class="col-sm-3 control-label text-right" for="input-firstname">Vérification</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control' } }) }}
                    </div>
                </div>

            </fieldset>

            <br>

            <div class="buttons clearfix">
                <div class="pull-left"><a href="{{ path('fos_user_profile_show') }}"
                                          class="btn btn-default">Précédent</a>
                </div>
                <div class="pull-right">
                    <input value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" type="submit">
                </div>
            </div>


            {{ form_end(form) }}

        </div>
    </div>

</div>
<!-- /.container -->

<br><br>