{% trans_default_domain 'FOSUserBundle' %}

{#
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div> BEBEBE
{{ form_end(form) }}
#}


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2 class="text-center">Change Password</h2>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

        {% if form_errors(form.current_password) or form_errors(form.plainPassword.first) or form_errors(form.plainPassword.second) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form.current_password) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
        {% endif %}

        <div class="form-group">
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>

        <input type="submit" id="_submit" name="_submit" value="{{ 'change_password.submit'|trans }}"
               class="btn btn-success"/>
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">Cancel</a>
        {{ form_end(form) }}
    </div>
</div>