{# src/ecommerce/ArticleBundle/Resources/views/Article/categorie.html.twig #}

{% extends "ecommerceArticleBundle::layout.html.twig" %}

{% block titre %}
    {{ category.name }} - {{ parent() }}
{% endblock %}

{% block active %}active{% endblock %}

{% block contenu_accueil %}

    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
                </li>
                <li>{{ category.name }}</li>

            </ul>
        </div>

        <div class="col-md-3">

            <!-- *** PANNEAU DES CATEGORIES ***
        _________________________________________________________ -->
            {% include "ecommerceArticleBundle:Article:category_panel.html.twig" %}
            <!-- *** ANNEAU DES CATEGORIES FIN *** -->

        </div>

        <div class="col-md-9">
            {#<div class="box">#}
            {#<h1>{{ category.name }}</h1>#}
            {#</div>#}

            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-4 products-showing">
                        Affichage de
                        <strong>
                            {% if page == nombrePage %}
                                {{ articles.count }}
                            {% else %}
                                {{ page * numberItemsPerPage }}
                            {% endif %}
                        </strong>
                        sur
                        <strong>
                            {{ articles.count }}
                        </strong>
                        articles
                    </div>

                    <div class="col-sm-12 col-md-8  products-number-sort">
                        <div class="row">
                            <form class="form-inline">
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-number">
                                        <strong>Afficher</strong>
                                        {% if numberItemsPerPage == 12 %}
                                            <a href="{{ path('ecommerce_article_cat', {'id': category.id, 'numberItemsPerPage': 12}) }}"
                                               class="btn btn-default btn-sm btn-primary">12</a>
                                        {% else %}
                                            <a href="{{ path('ecommerce_article_cat', {'id': category.id, 'numberItemsPerPage': 12}) }}"
                                               class="btn btn-default btn-sm">12</a>
                                        {% endif %}

                                        {% if numberItemsPerPage == 24 %}
                                            <a href="{{ path('ecommerce_article_cat', {'id': category.id, 'numberItemsPerPage': 24}) }}"
                                               class="btn btn-default btn-sm btn-primary">24</a>
                                        {% else %}
                                            <a href="{{ path('ecommerce_article_cat', {'id': category.id, 'numberItemsPerPage': 24}) }}"
                                               class="btn btn-default btn-sm">24</a>
                                        {% endif %}

                                        {% if numberItemsPerPage == 48 %}
                                            <a href="{{ path('ecommerce_article_cat', {'id': category.id, 'numberItemsPerPage': 48}) }}"
                                               class="btn btn-default btn-sm btn-primary">48</a>
                                        {% else %}
                                            <a href="{{ path('ecommerce_article_cat', {'id': category.id, 'numberItemsPerPage': 48}) }}"
                                               class="btn btn-default btn-sm">48</a>
                                        {% endif %}

                                        articles
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-sort-by">
                                        <strong>Trier par</strong>
                                        <select name="sort-by" class="form-control">
                                            <option>Date</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row products">

                {% for article in articles %}
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div itemscope itemtype="http://schema.org/Product" class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{ path('ecommerce_article_detail', {'id': article.id, 'slug':article.slug}) }}">
                                            {# On vérifie qu'une image est bien associée à l'article #}
                                            {% if article.image is not null %}
                                                <img itemprop="image" src="{{ asset(article.image.webPath) }}"
                                                     alt="{{ article.getNameItem() }}" class="img-responsive">
                                            {% else %}
                                                <img itemprop="image" src="{{ asset('images/detailbig2.jpg') }}"
                                                     alt="{{ article.getNameItem() }}" class="img-responsive">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="{{ path('ecommerce_article_detail', {'id': article.id, 'slug':article.slug}) }}">
                                            {# On vérifie qu'une image est bien associée à l'article #}
                                            {% if article.image is not null %}
                                                <img itemprop="image" src="{{ asset(article.image.webPath) }}"
                                                     alt="{{ article.getNameItem() }}" class="img-responsive">
                                            {% else %}
                                                <img itemprop="image" src="{{ asset('images/detailbig2.jpg') }}"
                                                     alt="{{ article.getNameItem() }}" class="img-responsive">
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path('ecommerce_article_detail', {'id': article.id, 'slug':article.slug}) }}"
                               class="invisible">
                                <img itemprop="image" src="{{ asset('images/product2.jpg') }}" alt=""
                                     class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>
                                    <a href="{{ path('ecommerce_article_detail', {'id': article.id, 'slug':article.slug}) }}">
                                        <span itemprop="name">{{ article.getNameItem() }}</span>
                                    </a>
                                </h3>
                                <p class="price">
                                    <span itemprop="priceCurrency" content="USD">
                                        $
                                    </span>
                                    <span itemprop="price" content="{{ article.getPrice() }}">
                                        {{ article.getPrice() }}
                                    </span>
                                </p>
                            </div>
                            <!-- /.text -->

                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>
                {% else %}
                    <div class="col-sm-12">
                        <h3 class="text-center">Pas (encore !) d'articles</h3>
                    </div>
                {% endfor %}


            </div>
            <!-- /.products -->

            <div class="pages">
                <ul class="pagination">
                    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                    {% for p in range(1, nombrePage) %}
                        <li{% if p == page %} class="active"{% endif %}>
                            <a href="{{ path('ecommerce_article_cat', {'id': category.id, 'numberItemsPerPage': numberItemsPerPage, 'page': p}) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>


        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->

{% endblock %}