{# src/ecommerce/AccueilBundle/Resources/views/Accueil/publications.html.twig #}

{% extends "ecommerceAccueilBundle::layout.html.twig" %}

{% block titre %}
    Mes articles - {{ parent() }}
{% endblock %}

{% block contenu_accueil %}

    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
                </li>
                <li><a href="{{ path('ecommerce_article_publications') }}">Mes articles</a>
                </li>
                <li>Supprimer article</li>
            </ul>
        </div>

        <div class="col-md-8 col-md-offset-2" id="basket">

            <div class="box">

                <h1 class="text-center">Supprimer l'article</h1>

                <hr>

                <p class="text-center">
                    Etes-vous certain de vouloir supprimer l'article "{{ article.getNameItem() }}" ?
                </p>


                <hr>

                <form action="{{ path('ecommerce_article_delete', {'id': article.id}) }}" method="POST">
                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="{{ path('ecommerce_article_publications') }}" class="btn btn-primary"><i
                                        class="fa fa-chevron-left"></i> Retour à la liste d'articles</a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i>Confirmer
                                supression <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                </form>


            </div>
            <!-- /.box -->


        </div>
        <!-- /.col-md-12 -->

    </div>
    <!-- /.container -->

{% endblock %}