{# src/ecommerce/ArticleBundle/Resources/views/Article/detail.html.twig #}

{% extends "ecommerceArticleBundle::layout.html.twig" %}

{% block titre %}
    Acheter {{ article.getNameItem() }} - {{ parent() }}
{% endblock %}

{% block active %}active{% endblock %}

{% block contenu_accueil %}

    {#<div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('ecommerce_article_cat', {'id': article.genre.getCategory().id}) }}">{{ article.genre.category.name }}</a>
                </li>
                <li>
                    <a href="{{ path('ecommerce_article_categorie', {'id': article.genre.id}) }}">{{ article.genre.name }}</a>
                </li>
                <li>{{ article.getNameItem() }}</li>
            </ul>

        </div>

        <div class="col-md-3">

            <!-- *** PANNEAU DES CATEGORIES ***
        _________________________________________________________ -->
            {% include "ecommerceArticleBundle:Article:detail_genre_panel.html.twig" %}
            <!-- *** ANNEAU DES CATEGORIES FIN *** -->

        </div>

        <div class="col-md-9">

            <div itemscope itemtype="http://schema.org/Product" class="row" id="productMain">
                <div class="col-sm-6">
                    <div id="mainImage">
                        #}{# On vérifie qu'une image est bien associée à l'article #}{#
                        {% if article.image is not null %}
                            <img itemprop="image" src="{{ asset(article.image.webPath) }}"
                                 alt="{{ article.getNameItem() }}" width="100%"
                                 class="img-responsive">
                        {% else %}
                            <img itemprop="image" src="{{ asset('images/detailbig2.jpg') }}"
                                 alt="{{ article.getNameItem() }}"
                                 width="100%" class="img-responsive">
                        {% endif %}

                    </div>

                    #}{# On vérifie si l'article n'est pas encore vendu #}{#
                    {% if article.getSolde() is not null %}
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->
                    {% else %}
                        <div class="ribbon sale">
                            <div class="theribbon">VENDU</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    <div class="box">
                        <h1 class="text-center">
                            <span itemprop="name">
                                {{ article.getNameItem() }}
                            </span>
                        </h1>
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <p class="price">
                                <span itemprop="priceCurrency" content="USD">
                                    Prix: $
                                </span>
                                <span itemprop="price" content="{{ article.getPrice() }}">
                                    {{ article.getPrice() }}
                                </span>
                            </p>
                        </div>

                        <dl class="dl-horizontal">
                            <dt>Etat :</dt>
                            <dd>{{ article.getQuality() }}</dd>
                            <dt>Quantité :</dt>
                            <dd>{{ article.getQuantity() }}</dd>
                            <dt>Contact :</dt>
                            <dd>{{ article.user.telephone }}</dd>
                            <dt>Email :</dt>
                            <dd>{{ article.user.email }}</dd>
                            <dt>Ville :</dt>
                            <dd>{{ article.getCity() }}</dd>
                            <dt>Pays :</dt>
                            <dd>{{ article.getCountry() }}</dd>
                            <dt>Vendeur :</dt>
                            <dd>
                                <a href="{{ path('ecommerce_article_publisher_items', {'id': article.user.id, 'username': article.user.username}) }}">
                                    <span itemprop="author">
                                        {{ article.user.username }}
                                    </span>
                                </a>
                            </dd>

                            <dt>Date publication :</dt>
                            <dd>
                                <meta itemprop="datePublished"
                                      content="{{ article.getDatepublication()|date('d-M-Y') }}">{{ article.getDatepublication()|date('d-M-Y') }}
                            </dd>

                        </dl>


                    </div>

                    #}{#<div class="row" id="thumbs">
                                            <div class="col-xs-4">
                                                <a href="{{ asset(article.image.webPath) }}" class="thumb">
                                                    <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}" width="100%" height="236" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="{{ asset('images/detailbig2.jpg') }}" class="thumb">
                                                    <img src="{{ asset('images/detailsquare2.jpg') }}" alt="" width="100%" height="236" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="{{ asset('images/detailbig3.jpg') }}" class="thumb">
                                                    <img src="{{ asset('images/detailsquare3.jpg') }}" alt="" width="100%" height="236" class="img-responsive">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /.thumbs -->#}{#

                </div>

            </div>

            <div class="box" id="details">

                <h4>Détails du produit</h4>


                <p>
                    <span itemprop="description">
                        {{ article.getDescription() }}
                    </span>
                <div class="row">
                    <div class="col-md-12">
                        Note vendeur :
                        <small>
                            <small>
                                <small>
                                    <small>
                                        <div itemprop="aggregateRating" itemscope
                                             itemtype="http://schema.org/AggregateRating">
                                                    <span itemprop="ratingValue">
                                                        <input class="comment_note rating rating-loading"
                                                               value="{{ note }}" dir="ltr" data-size="xs">
                                                    </span>
                                        </div>
                                    </small>
                                </small>
                            </small>
                        </small>
                    </div>
                </div>

                </p>
                <hr>
                <div class="social">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Partager avec les amis</h4>
                        </div>


                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="fb-share-button"
                                 data-href="{{ path('ecommerce_article_detail', {'id': article.getId(), 'slug':article.getSlug()}) }}"
                                 data-layout="button"></div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="g-plus" data-action="share" data-annotation="none"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div id="comments">
                    <h4>{{ comments|length }} commentaire(s)</h4>

                    {% for comment in comments %}
                        <div class="row comment">
                            <div class="col-md-2 col-sm-3 col-xs-3 text-center-xs">
                                <p>
                                    #}{# On vérifie qu'une image est bien associée à l'utilisateur #}{#
                                    {% if comment.author.getImage() is not null %}
                                        <img itemprop="image" src="{{ asset(comment.author.image.webPath) }}"
                                             alt="{{ comment.author.username }}" class="img-rounded img-responsive"
                                             alt="">
                                    {% else %}
                                        <img src="{{ asset('img/default_profile.jpg') }}"
                                             alt="{{ comment.author.username }}"
                                             class="img-rounded img-responsive">
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-md-10 col-sm-9 col-xs-9">
                                <h5>{{ comment.author.username }}</h5>
                                <p class="posted">
                                    <i class="fa fa-clock-o"></i>
                                    {{ comment.getDate()|date("m/d/Y") }}
                                    à {{ comment.getDate()|date("H:i:s") }}
                                </p>
                                <p>{{ comment.getContent() }}</p>
                            </div>
                        </div>
                        <!-- /.comment -->
                    {% else %}
                        <div class="row comment">

                            <div class="col-md-12">
                                <h5>Pas encore de commentaire !</h5>
                            </div>
                        </div>
                        <!-- /.comment -->
                    {% endfor %}

                </div>
                <!-- /#comments -->

                <div id="comment-form">

                    <h4>Donnez votre avis</h4>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <form action="{{ path('ecommerce_article_detail', {'id': article.id, 'slug':article.slug}) }}" {{ form_enctype(form) }}
                              method="POST">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form_label(form.content) }} *
                                        {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'Commentaire' } }) }}
                                        <div class="has-error" style="color: red">
                                            {{ form_errors(form.content) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{ form_rest(form) }}

                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-primary"><i class="fa fa-comment-o"></i> Poster commentaire
                                    </button>
                                </div>
                            </div>


                        </form>
                    {% else %}
                        <h5>Veuillez vous <a href="{{ path('fos_user_security_login') }}">connecter</a> pour poster
                            un commentaire.</h5>
                    {% endif %}

                </div>
                <!-- /#comment-form -->
            </div>

        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->#}








    <section id="yt_breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
                        </li>
                        <li>
                            <a href="{{ path('ecommerce_article_cat', {'id': article.genre.getCategory().id}) }}">{{ article.genre.category.name }}</a>
                        </li>
                        <li>
                            <a href="{{ path('ecommerce_article_categorie', {'id': article.genre.id}) }}">{{ article.genre.name }}</a>
                        </li>
                        <li>{{ article.getNameItem() }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container product-detail">
        <div class="row">


            <div id="content" class="col-lg-9 col-sm-8 col-xs-12">

                <div class="product-view">
                    <div class="left-content-product">
                        <div class="row">

                            <div class="content-product-left  position-bottom col-md-6 col-xs-12 ">

                                <div class="large-image  ">
                                    <img itemprop="image" class="product-image-zoom"
                                         src="{{ asset(article.image.webPath) }}"
                                         data-zoom-image="{{ asset(article.image.webPath) }}"
                                         title="{{ article.getNameItem() }}" alt="{{ article.getNameItem() }}">

                                    <!--New Label-->

                                    <!--Sale Label-->
                                    <span class="label label-sale">Sale</span>


                                </div>

                            </div>


                            <div class="content-product-right col-md-6 col-xs-12">
                                <div class="title-product">
                                    <h1>{{ article.getNameItem() }}</h1>
                                </div>
                                <!-- Review ---->
                                <div class="box-review">
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                        class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                        class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                        class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        </div>
                                    </div>

                                    <a class="reviews_button" href=""
                                       onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">1
                                        review(s)</a> | <a class="write_review_button" href=""
                                                           onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Add
                                        Your Review</a>
                                </div>

                                <div class="product-label">

                                    <div class="product_page_price price" itemprop="offerDetails" itemscope=""
                                         itemtype="http://data-vocabulary.org/Offer">
                                        <span class="price-new" itemprop="price">${{ article.getPrice() }}</span>


                                    </div>
                                    <div class="stock">
                                        <span>Availability:</span>
                                        <span class="status-stock">In Stock</span>
                                    </div>

                                </div>


                                <div class="short_description">

                                    {{ article.getDescription() }}
                                </div>

                                <div class="product-box-desc">
                                    <div class="inner-box-desc">
                                        <div class="price-tax"><span>Ex Tax:</span> $73.00</div>
                                        <div class="reward"><span>Price in reward points:</span> 100</div>

                                        <div class="brand"><span>Brand:</span><a
                                                    href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/manufacturer/info&amp;manufacturer_id=8">Aunts
                                                &amp; Uncles</a></div>

                                        <div class="model"><span>Product Code:</span> Product 9</div>

                                    </div>

                                </div>


                                <div id="product">

                                    <h3>Available Options</h3>


                                    <div class="form-group box-info-product">
                                        <div class="option quantity">

                                            <div style="-moz-user-select: none;" unselectable="on"
                                                 class="input-group quantity-control">
                                                <label>Qty</label>
                                                <input class="form-control" name="quantity"
                                                       value="{{ article.getQuantity() }}" type="text">
                                                <input name="product_id" value="36" type="hidden">
                                                <span class="input-group-addon product_quantity_down">−</span>
                                                <span class="input-group-addon product_quantity_up">+</span>
                                            </div>
                                        </div>

                                    </div>


                                </div><!-- end box info product -->

                            </div>
                        </div>
                    </div><!-- end - left-content-product --->

                </div>
                <div class="producttab ">

                    <div class="tabsslider   col-xs-12">
                        <ul class="nav nav-tabs ">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Description</a></li>


                            <li class="item_nonactive"><a data-toggle="tab" href="#tab-review">Commentaires (1)</a></li>

                        </ul>

                        <div class="tab-content  col-xs-12">

                            <div id="tab-1" class="tab-pane fade active in">
                                <div>
                                    {{ article.getDescription() }}
                                </div>
                            </div>


                            <div id="tab-review" class="tab-pane fade">
                                <div id="review">
                                    <table class="table table-striped table-bordered">
                                        <tbody>
                                        <tr>
                                            <td style="width: 50%;"><strong>abd</strong></td>
                                            <td class="text-right">19/01/2016</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><p>Drumstick leberkas beef ribs frankfurter</p>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
                                                                class="fa fa-star-o fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
                                                                class="fa fa-star-o fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
                                                                class="fa fa-star-o fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i
                                                                class="fa fa-star-o fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i
                                                                class="fa fa-star-o fa-stack-2x"></i></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-right"></div>
                                </div>
                                <h2 id="review-title">Add Your Review</h2>
                                <div class="contacts-form">
                                    <div class="form-group">
                                        <span class="icon icon-user"></span>
                                        <input name="name" class="form-control" value="Your Name"
                                               onblur="if (this.value == '') {this.value = 'Your Name';}"
                                               onfocus="if(this.value == 'Your Name') {this.value = '';}"
                                               type="text">
                                    </div>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <form action="{{ path('ecommerce_article_detail', {'id': article.id, 'slug':article.slug}) }}" {{ form_enctype(form) }}
                                              method="POST">
                                            <div class="form-group">
                                                <span class="icon icon-bubbles-2"></span>
                                                {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'Commentaire' } }) }}
                                                <div class="has-error" style="color: red">
                                                    {{ form_errors(form.content) }}
                                                </div>
                                                <!--<textarea class="form-control" name="text"
                                                          onblur="if (this.value == '') {this.value = 'Your Review';}"
                                                          onfocus="if(this.value == 'Your Review') {this.value = '';}">Your Review</textarea>-->
                                            </div>
                                            <span style="font-size: 11px;"><span class="text-danger">Note:</span> HTML is not translated!</span>
                                            <br>
                                            <div class="list-rating">
                                                <b>Rating</b> <span>Bad</span>&nbsp;
                                                <input name="rating" value="1" type="radio">
                                                &nbsp;
                                                <input name="rating" value="2" type="radio">
                                                &nbsp;
                                                <input name="rating" value="3" type="radio">
                                                &nbsp;
                                                <input name="rating" value="4" type="radio">
                                                &nbsp;
                                                <input name="rating" value="5" type="radio">
                                                &nbsp;<span>Good</span>
                                            </div>
                                            <br>

                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="g-recaptcha"></div>
                                                </div>
                                            </div>

                                            {{ form_rest(form) }}

                                            <div class="buttons clearfix"><a id="button-review" class="btn btn-mega">Continue</a>
                                            </div>
                                        </form>
                                    {% else %}
                                        <h5>Veuillez vous <a href="{{ path('fos_user_security_login') }}">connecter</a>
                                            pour poster
                                            un commentaire.</h5>
                                    {% endif %}

                                </div>

                            </div>

                        </div>


                    </div>

                </div>

                <!--Code JavaScript qui permet de zoomer sur le produit quand on fait passer la sourie dessus
                Je l'ai pour le moment mis en commentaire pour optimiser le chargement de la page-->
                <!--<script type="text/javascript">
                    $(document).ready(function () {
                        var zoomCollection = '.large-image img';
                        $(zoomCollection).elevateZoom({
                            zoomType: "inner",
                            lensSize: "200",
                            easing: true,

                            gallery: 'thumb-slider',
                            cursor: 'pointer',
                            galleryActiveClass: "active"
                        });
                        $('.large-image').magnificPopup({
                            items: [
                                {src: 'http://opencart.magentech.com/themes/so_lovefashion/image/cache/catalog/demo/product/26-600x600.png'}, {src: 'http://opencart.magentech.com/themes/so_lovefashion/image/cache/catalog/demo/product/28-600x600.png'}, {src: 'http://opencart.magentech.com/themes/so_lovefashion/image/cache/catalog/demo/product/30-600x600.png'}, {src: 'http://opencart.magentech.com/themes/so_lovefashion/image/cache/catalog/demo/product/31-600x600.png'}, {src: 'http://opencart.magentech.com/themes/so_lovefashion/image/cache/catalog/demo/product/27-600x600.png'}, {src: 'http://opencart.magentech.com/themes/so_lovefashion/image/cache/catalog/demo/product/29-600x600.png'},],
                            gallery: {enabled: true, preload: [0, 2]},
                            type: 'image',
                            mainClass: 'mfp-fade',
                            callbacks: {
                                open: function () {
                                    var activeIndex = parseInt($('#thumb-slider .img.active').attr('data-index'));
                                    var magnificPopup = $.magnificPopup.instance;
                                    magnificPopup.goTo(activeIndex);
                                }
                            }
                        });

                    });

                </script>-->


            </div>


            <aside class="col-lg-3 col-sm-4 col-xs-12  content-aside right_column">
                <div class="module block_category">
                    <h3 class="modtitle">
                        Categories </h3>
                    <div class="modcontent box-content">
                        <ul class="list-group">
                            <li>
                                <a href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/category&amp;path=97"
                                   class="list-group-item "><span>Bags</span></a>
                            </li>
                            <li>
                                <a href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/category&amp;path=77"
                                   class="list-group-item "><span>Boys</span></a>
                            </li>
                            <li>
                                <a href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/category&amp;path=78"
                                   class="list-group-item "><span>Men</span></a>
                            </li>
                            <li>
                                <a href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/category&amp;path=57"
                                   class="list-group-item "><span>Girls</span></a>
                            </li>
                            <li class="hadchild">
                                <a href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/category&amp;path=17"
                                   class="list-group-item  active "><span>Bags, Holiday Supplies</span></a>
                                <span class="button-view  ttopen  ">view</span>
                                <ul style="display: block;">
                                    <li>
                                        <a href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/category&amp;path=17_68"
                                           class="list-group-item"><span>&nbsp;&nbsp;&nbsp; Gift &amp; Lifestyle Gadgets</span></a>
                                    </li>
                                    <li>
                                        <a href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/category&amp;path=17_69"
                                           class="list-group-item active"><span>&nbsp;&nbsp;&nbsp; Gift for Men</span></a>
                                    </li>
                                    <li>
                                        <a href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/category&amp;path=17_70"
                                           class="list-group-item"><span>&nbsp;&nbsp;&nbsp; Gift for Women</span></a>
                                    </li>
                                    <li>
                                        <a href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/category&amp;path=17_71"
                                           class="list-group-item"><span>&nbsp;&nbsp;&nbsp; Lighter &amp; Cigar Supplies</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/category&amp;path=24"
                                   class="list-group-item "><span>Swim</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <script type="text/javascript">

                    $(document).ready(function () {
                        $('span.button-view').click(function () {
                            if ($(this).hasClass('ttopen')) {
                                varche = true
                            } else {
                                varche = false
                            }
                            ;
                            if (varche == false) {
                                $(this).addClass("ttopen");
                                $(this).removeClass("ttclose");
                                $(this).parent().find('ul').slideDown();
                                varche = true;
                            } else {
                                $(this).removeClass("ttopen");
                                $(this).addClass("ttclose");
                                $(this).parent().find('ul').slideUp();
                                varche = false;
                            }
                        });
                    });

                </script>

            </aside>

            <aside class="col-lg-3 col-sm-4 col-xs-12 ">

                <!-- Products widgets desktop-->
                <div class="module related products-list">
                    <h3 class="modtitle">
                        <span>Produits Similaires</span>
                    </h3>
                    <div class="releate-products releate-products-slider owl2-carousel owl2-theme owl2-loaded">
                        <!-- Products list -->


                        <div class="owl2-stage-outer">
                            <div style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1180px;"
                                 class="owl2-stage">
                                <div style="width: 270px; margin-right: 25px;" class="owl2-item active">
                                    <div class="product-item-container">


                                        <div class="product-item">
                                            <div class="media">
                                                <div class="media-left product-image-container  ">
                                                    <img src="Lorem%20Cow_files/24-72x72.png"
                                                         alt="Hazen dima polan mikam" title="Hazen dima polan mikam"
                                                         class="img-responsive">
                                                </div>


                                                <div class="media-body">
                                                    <div class="caption">

                                                        <h4><a class="preview-image"
                                                               href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/product&amp;product_id=29">Hazen
                                                                dima polan mikam</a></h4>

                                                        <div class="price">
                                                            <span class="price-new">$46.40</span>
                                                            <span class="price-old">$337.99</span>

                                                        </div>
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star fa-stack-1x"></i><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star fa-stack-1x"></i><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star fa-stack-1x"></i><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star fa-stack-1x"></i><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star fa-stack-1x"></i><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="product-item">
                                            <div class="media">
                                                <div class="media-left product-image-container  ">
                                                    <img src="Lorem%20Cow_files/12d-72x72.jpg"
                                                         alt="Mikan dima polam chuma" title="Mikan dima polam chuma"
                                                         class="img-responsive">
                                                </div>


                                                <div class="media-body">
                                                    <div class="caption">

                                                        <h4><a class="preview-image"
                                                               href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/product&amp;product_id=31">Mikan
                                                                dima polam chuma</a></h4>

                                                        <div class="price">
                                                            <span class="price-new">$93.20</span>
                                                            <span class="price-old">$98.00</span>

                                                        </div>
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="product-item">
                                            <div class="media">
                                                <div class="media-left product-image-container  ">
                                                    <img src="Lorem%20Cow_files/14-72x72.png"
                                                         alt="Gima nazen mipon chuma " title="Gima nazen mipon chuma "
                                                         class="img-responsive">
                                                </div>


                                                <div class="media-body">
                                                    <div class="caption">

                                                        <h4><a class="preview-image"
                                                               href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=product/product&amp;product_id=33">Gima
                                                                nazen mipon chuma </a></h4>

                                                        <div class="price">
                                                            <span class="price-new">$52.40</span>
                                                            <span class="price-old">$242.00</span>

                                                        </div>
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star fa-stack-1x"></i><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star fa-stack-1x"></i><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star fa-stack-1x"></i><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star fa-stack-1x"></i><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="owl2-controls">
                                <div class="owl2-nav">
                                    <div style="" class="owl2-prev"></div>
                                    <div style="" class="owl2-next"></div>
                                </div>
                                <div class="owl2-dots" style="display: none;"></div>
                            </div>
                        </div>

                    </div>

                    <div class="line-divider"></div>

                    <!-- end Products widgets desktop-->


                    <script>// <![CDATA[
                        jQuery(document).ready(function ($) {
                            $('.releate-products-slider').owlCarousel2({
                                pagination: false,
                                center: false,
                                nav: true,
                                dots: false,
                                loop: false,
                                margin: 25,
                                navText: ['', ''],
                                slideBy: 1,
                                autoplay: false,
                                autoplayTimeout: 2500,
                                autoplayHoverPause: true,
                                autoplaySpeed: 800,
                                startPosition: 0,
                                responsive: {
                                    0: {
                                        items: 1
                                    },
                                    480: {
                                        items: 1
                                    },
                                    768: {
                                        items: 1
                                    },
                                    1200: {
                                        items: 1
                                    }
                                }
                            });
                        });
                        // ]]></script>
                </div>
            </aside>


        </div>
        <div class="up-sell-product">


        </div>
    </div>









{% endblock %}