{# src/ecommerce/ArticleBundle/Resources/views/Article/detail.html.twig #}

{% extends "ecommerceArticleBundle::layout.html.twig" %}

{% block titre %}
    {{ article.getNameItem() }} - {{ parent() }}
{% endblock %}

{% block active %}active{% endblock %}

{% block contenu_accueil %}

    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="#">{{ article.genre.category.name }}</a>
                </li>
                <li>
                    <a href="{{ path('ecommerce_article_categorie', {'id': article.genre.id}) }}">{{ article.genre.name }}</a>
                </li>
                <li>{{ article.getNameItem() }}</li>
            </ul>

        </div>

        <div class="col-md-3">

            <!-- *** PANNEAU DES CATEGORIES ***
        _________________________________________________________ -->
            {% include "ecommerceArticleBundle:Article:detail_genre_panel.html.twig" %}
            <!-- *** ANNEAU DES CATEGORIES FIN *** -->

        </div>

        <div class="col-md-9">

            <div class="row" id="productMain">
                <div class="col-sm-6">
                    <div id="mainImage">
                        {# On vérifie qu'une image est bien associée à l'article #}
                    {% if article.image is not null %}
                        <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}" width="100%" class="img-responsive">
                    {% else %}
                        <img src="{{ asset('images/detailbig2.jpg') }}" alt="{{ article.getNameItem() }}" width="100%" class="img-responsive">                        
                    {% endif %}
                        
                    </div>

                    {# On vérifie si l'article n'est pas encore vendu #}
                    {% if article.getSolde() is not null %}
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->
                    {% else %}
                        <div class="ribbon sale">
                            <div class="theribbon">VENDU</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    <div class="box">
                        <h1 class="text-center">{{ article.getNameItem() }}</h1>
                        <p class="price">Prix : {{ article.getPrice() }} Fc</p>

                        <dl class="dl-horizontal">
                            <dt>Etat :</dt>
                            <dd>{{ article.getQuality() }}</dd>
                            <dt>Quantité :</dt>
                            <dd>{{ article.getQuantity() }}</dd>
                            <dt>Ville de provenance :</dt>
                            <dd>{{ article.getCity() }}</dd>
                            <dt>Province :</dt>
                            <dd>{{ article.getProvince() }}</dd>
                            <dt>Vendeur :</dt>
                            <dd>{{ article.user.username }}</dd>
                            <dt>Contact :</dt>
                            <dd>{{ article.user.telephone }}</dd>
                        </dl>

                        <p class="text-center buttons">
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Acheter</a> 
                            <a href="#" class="btn btn-default"><i class="fa fa-heart"></i> Ajouter au panier</a>
                        </p>


                    </div>

{#                    <div class="row" id="thumbs">
                        <div class="col-xs-4">
                            <a href="{{ asset(article.image.webPath) }}" class="thumb">
                                <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}" width="100%" height="236" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="{{ asset('images/detailbig2.jpg') }}" class="thumb">
                                <img src="{{ asset('images/detailsquare2.jpg') }}" alt="" width="100%" height="236" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="{{ asset('images/detailbig3.jpg') }}" class="thumb">
                                <img src="{{ asset('images/detailsquare3.jpg') }}" alt="" width="100%" height="236" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <!-- /.thumbs -->#}

                </div>

            </div>


            <div class="box" id="details">
                <p>
                <h4>Détails du produit</h4>
                <p>{{ article.getDescription() }}</p>

                <hr>
                <div class="social">
                    <h4>Partager avec les amis</h4>
                    <p>
                        <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                    </p>
                </div>
            </div>

            <div class="row same-height-row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="box same-height">
                        <h3>Articles similaires</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="product same-height">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="#">
                                        <img src="{{ asset('images/product2.jpg') }}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="#">
                                        <img src="{{ asset('images/product2_2.jpg') }}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="invisible">
                            <img src="{{ asset('images/product2.jpg') }}" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3>Polo Blanc</h3>
                            <p class="price">12.000 Fc</p>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="product same-height">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="#">
                                        <img src="{{ asset('images/product1.jpg') }}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="#">
                                        <img src="{{ asset('images/product1_2.jpg') }}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="invisible">
                            <img src="{{ asset('images/product1.jpg') }}" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3>Veste en fourure</h3>
                            <p class="price">100.000 Fc</p>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>


                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="product same-height">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="#">
                                        <img src="{{ asset('images/product3.jpg') }}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="#">
                                        <img src="{{ asset('images/product3_2.jpg') }}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="invisible">
                            <img src="{{ asset('images/product3.jpg') }}" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3>Chemise dame</h3>
                            <p class="price">14300 Fc</p>

                        </div>
                    </div>
                    <!-- /.product -->
                </div>

            </div>

        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->

{% endblock %}