{# src/ecommerce/ArticleBundle/Resources/views/Article/detail.html.twig #}

{% extends "ecommerceArticleBundle::layout.html.twig" %}

{% block titre %}
    Acheter {{ article.getNameItem() }} - {{ parent() }}
{% endblock %}

{% block active %}active{% endblock %}

{% block contenu_accueil %}

    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('ecommerce_article_categorie', {'id': article.genre.id}) }}">{{ article.genre.name }}</a>
                </li>
                <li>{{ article.getNameItem() }}</li>
            </ul>

        </div>

        <div class="col-md-3">

            <!-- *** PANNEAU DES CATEGORIES ***
        _________________________________________________________ -->
            {% include "ecommerceArticleBundle:Article:detail_genre_panel.html.twig" %}
            <!-- *** ANNEAU DES CATEGORIES FIN *** -->

        </div>

        <div class="col-md-9">

            <div itemscope itemtype="http://schema.org/Product" class="row" id="productMain">
                <div class="col-sm-6">
                    <div id="mainImage">
                        {# On vérifie qu'une image est bien associée à l'article #}
                        {% if article.image is not null %}
                            <img itemprop="image" src="{{ asset(article.image.webPath) }}"
                                 alt="{{ article.getNameItem() }}" width="100%"
                                 class="img-responsive">
                        {% else %}
                            <img itemprop="image" src="{{ asset('images/detailbig2.jpg') }}"
                                 alt="{{ article.getNameItem() }}"
                                 width="100%" class="img-responsive">
                        {% endif %}

                    </div>

                    {# On vérifie si l'article n'est pas encore vendu #}
                    {% if article.getSolde() is not null %}
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->
                    {% else %}
                        <div class="ribbon sale">
                            <div class="theribbon">VENDU</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    <div class="box">
                        <h1 class="text-center">
                            <span itemprop="name">
                                {{ article.getNameItem() }}
                            </span>
                        </h1>
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <p class="price">
                                <span itemprop="priceCurrency" content="USD">
                                    Prix: $
                                </span>
                                <span itemprop="price" content="{{ article.getPrice() }}">
                                    {{ article.getPrice() }}
                                </span>
                            </p>
                        </div>

                        <dl class="dl-horizontal">
                            <dt>Etat :</dt>
                            <dd>{{ article.getQuality() }}</dd>
                            <dt>Quantité :</dt>
                            <dd>{{ article.getQuantity() }}</dd>
                            <dt>Contact :</dt>
                            <dd>{{ article.user.telephone }}</dd>
                            <dt>Email :</dt>
                            <dd>{{ article.user.email }}</dd>
                            <dt>Ville :</dt>
                            <dd>{{ article.getCity() }}</dd>
                            <dt>Pays :</dt>
                            <dd>{{ article.getCountry() }}</dd>
                            <dt>Vendeur :</dt>
                            <dd>
                                <a href="{{ path('ecommerce_article_publisher_items', {'id': article.user.id, 'username': article.user.username}) }}">
                                    <span itemprop="author">
                                        {{ article.user.username }}
                                    </span>
                                </a>
                            </dd>

                            <dt>Date publication :</dt>
                            <dd>
                                <meta itemprop="datePublished"
                                      content="{{ article.getDatepublication()|date('d-M-Y') }}">{{ article.getDatepublication()|date('d-M-Y') }}
                            </dd>

                        </dl>


                    </div>

                    {#<div class="row" id="thumbs">
                                            <div class="col-xs-4">
                                                <a href="{{ asset(article.image.webPath) }}" class="thumb">
                                                    <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}" width="100%" height="236" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="{{ asset('images/detailbig2.jpg') }}" class="thumb">
                                                    <img src="{{ asset('images/detailsquare2.jpg') }}" alt="" width="100%" height="236" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="{{ asset('images/detailbig3.jpg') }}" class="thumb">
                                                    <img src="{{ asset('images/detailsquare3.jpg') }}" alt="" width="100%" height="236" class="img-responsive">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /.thumbs -->#}

                </div>

            </div>

            <div class="box" id="details">

                <h4>Détails du produit</h4>


                <p>
                    <span itemprop="description">
                        {{ article.getDescription() }}
                    </span>
                <div class="row">
                    <div class="col-md-12">
                        Note vendeur :
                        <small>
                            <small>
                                <small>
                                    <small>
                                        <div itemprop="aggregateRating" itemscope
                                             itemtype="http://schema.org/AggregateRating">
                                                    <span itemprop="ratingValue">
                                                        <input class="comment_note rating rating-loading"
                                                               value="{{ note }}" dir="ltr" data-size="xs">
                                                    </span>
                                        </div>
                                    </small>
                                </small>
                            </small>
                        </small>
                    </div>
                </div>

                </p>
                <hr>
                <div class="social">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Partager avec les amis</h4>
                        </div>


                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="fb-share-button"
                                 data-href="{{ path('ecommerce_article_detail', {'id': article.getId(), 'slug':article.getSlug()}) }}"
                                 data-layout="button"></div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="g-plus" data-action="share" data-annotation="none"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div id="comments" data-animate="fadeInUp">
                    <h4>{{ comments|length }} commentaire(s)</h4>

                    {% for comment in comments %}
                        <div class="row comment">
                            <div class="col-sm-3 col-md-2 text-center-xs">
                                <p>
                                    {# On vérifie qu'une image est bien associée à l'utilisateur #}
                                    {% if app.user.getImage() is not null %}
                                        <img itemprop="image" src="{{ asset(comment.author.image.webPath) }}"
                                             alt="{{ comment.author.username }}" class="img-rounded img-responsive"
                                             alt="">
                                    {% else %}
                                        <img src="{{ asset('img/default_profile.jpg') }}"
                                             alt="{{ comment.author.username }}"
                                             class="img-rounded img-responsive">
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <h5>{{ comment.author.username }}</h5>
                                <p class="posted">
                                    <i class="fa fa-clock-o"></i>
                                    {{ comment.getDate()|date("m/d/Y") }}
                                    à {{ comment.getDate()|date("H:i:s") }}
                                </p>
                                <p>{{ comment.getContent() }}</p>
                            </div>
                        </div>
                        <!-- /.comment -->
                    {% else %}
                        <div class="row comment">

                            <div class="col-md-12">
                                <h5>Pas encore de commentaire !</h5>
                            </div>
                        </div>
                        <!-- /.comment -->
                    {% endfor %}

                </div>
                <!-- /#comments -->

                <div id="comment-form" data-animate="fadeInUp">

                    <h4>Donnez votre avis</h4>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <form action="{{ path('ecommerce_article_detail', {'id': article.id, 'slug':article.slug}) }}" {{ form_enctype(form) }}
                              method="POST">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form_label(form.content) }} *
                                        {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'Commentaire' } }) }}
                                        <div class="has-error" style="color: red">
                                            {{ form_errors(form.content) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{ form_rest(form) }}

                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-primary"><i class="fa fa-comment-o"></i> Poster commentaire
                                    </button>
                                </div>
                            </div>


                        </form>
                    {% else %}
                        <h5>Veuillez vous <a href="{{ path('fos_user_security_login') }}">connecter</a> pour poster
                            votre commentaire.</h5>
                    {% endif %}

                </div>
                <!-- /#comment-form -->
            </div>

        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->

{% endblock %}