{# src/ecommerce/ArticleBundle/Resources/views/Article/genre_panel.html.twig #}

<!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->


<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Toutes les catégories</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked category-menu">
            {% for categoryP in categories %}
                <li {% if article.genre.category == categoryP %}class="active"{% endif %}>
                    <a href="{{ path('ecommerce_article_cat', {'id': categoryP.id}) }}">{{ categoryP.name }}</a>
                    {% if article.genre.category == categoryP %}
                        <ul>
                            {% for genre_cate in categoryP.genres %}
                                <li>
                                    {#il faut optimiser la ligne ci-dessous#}
                                    <a href="{{ path('ecommerce_article_categorie', {'id': genre_cate.id}) }}">{{ genre_cate.name }}
                                        <span class="badge pull-right">{{ genre_cate.articles.count }}</span></a>
                                    {#<a href="{{ path('ecommerce_article_categorie', {'id': genre_cate.id}) }}">{{ genre_cate.name }}</a>#}
                                </li>
                            {% else %}
                                <li>
                                    <a href="#">Pas encore de catégories !</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% else %}
                <h4>Pas encore de catégorie</h4>
            {% endfor %}
        </ul>
    </div>
</div>