{# src/ecommerce/ArticleBundle/Resources/views/Article/categorie.html.twig #}

{% extends "ecommerceArticleBundle::layout.html.twig" %}

{% block titre %}
    Catégorie - {{ parent() }}
{% endblock %}

{% block contenu_accueil %}

    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
                </li>
                <li>{{ genre.name }}</li>
            </ul>
        </div>

        <div class="col-md-3">

            <!-- *** PANNEAU DES CATEGORIES ***
        _________________________________________________________ -->
            {% include "ecommerceArticleBundle:Article:genre_panel.html.twig" %}
            <!-- *** ANNEAU DES CATEGORIES FIN *** -->

        </div>

        <div class="col-md-9">
            <div class="box">
                <h1>{{ genre.name }}</h1>
                <p>In our Ladies department we offer wide selection of the best products we have found and carefully
                    selected worldwide.</p>
            </div>

            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-4 products-showing">
                        Showing <strong>12</strong> of <strong>25</strong> products
                    </div>

                    <div class="col-sm-12 col-md-8  products-number-sort">
                        <div class="row">
                            <form class="form-inline">
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-number">
                                        <strong>Show</strong>
                                        <a href="#" class="btn btn-default btn-sm btn-primary">12</a>
                                        <a href="#" class="btn btn-default btn-sm">24</a>
                                        <a href="#" class="btn btn-default btn-sm">All</a> products
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-sort-by">
                                        <strong>Sort by</strong>
                                        <select name="sort-by" class="form-control">
                                            <option>Price</option>
                                            <option>Name</option>
                                            <option>Sales first</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row products">

                {% for article in genre.articles %}
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{ path('ecommerce_article_detail', {'id': article.id}) }}">
                                            <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}"
                                                 class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="{{ path('ecommerce_article_detail', {'id': article.id}) }}">
                                            <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}"
                                                 class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path('ecommerce_article_detail', {'id': article.id}) }}" class="invisible">
                                <img src="{{ asset('images/product2.jpg') }}" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>
                                    <a href="{{ path('ecommerce_article_detail', {'id': article.id}) }}">{{ article.getNameItem() }}</a>
                                </h3>
                                <p class="price">
                                    <del>$280</del> {{ article.getPrice() }} Fc
                                </p>
                            </div>
                            <!-- /.text -->

                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>
                {% else %}
                    <div class="col-sm-12">
                        <h3 class="text-center">Pas (encore !) d'articles</h3>
                    </div>
                {% endfor %}


            </div>
            <!-- /.products -->

            <div class="pages">

                <p class="loadMore">
                    <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
                </p>

                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>


        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->

{% endblock %}