{# src/ecommerce/ArticleBundle/Resources/views/Article/publisher_comments_panel.html.twig #}

<!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->

<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Avis sur le vendeur</h3>
    </div>

    <div class="panel-body">
        <div id="comments" data-animate="fadeInUp">
            <h4>{{ comments|length }} commentaires</h4>


            {% for comment in comments %}
                <div class="row comment">

                    <div class="col-md-12">
                        <h5>{{ comment.author.username }}</h5>
                        <p class="posted"><i class="fa fa-clock-o"></i> {{ comment.getDate()|date("m/d/Y") }}
                            à {{ comment.getDate()|date("H:i:s") }}</p>
                        <p>
                            {{ comment.getContent() }}<br/>
                            <input class="comment_note rating rating-loading" value="{{ comment.getNote() }}" dir="ltr"
                                   data-size="xs">
                        </p>

                    </div>
                </div>
                <!-- /.comment -->
            {% else %}
                <div class="row comment">

                    <div class="col-md-12">
                        <h4>Pas encore de commentaire !</h4>
                    </div>
                </div>
                <!-- /.comment -->
            {% endfor %}

        </div>
        <!-- /#comments -->

        <hr>

        <div id="comment-form" data-animate="fadeInUp">

            <h4>Donnez votre note</h4>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <form action="{{ path('ecommerce_article_publisher_items', {'id': user.id}) }}" {{ form_enctype(form) }}
                  method="POST">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            {{ form_label(form.content) }}
                            {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'Commentaire sur le vendeur' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.content) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            {#{{ form_label(form.note) }}#}
                            {{ form_widget(form.note, { 'attr': {'class': 'rating rating-loading' } }) }}
                            <div class="has-error" style="color: red">
                                {{ form_errors(form.note) }}
                            </div>
                        </div>
                    </div>

                </div>

                {{ form_rest(form) }}

                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary"><i class="fa fa-comment-o"></i> Poster commentaire</button>
                    </div>
                </div>
            </form>
            {% else %}
                <h5>Veuillez vous connecter pour poster votre commentaire.</h5>
            {% endif %}

        </div>
        <!-- /#comment-form -->

    </div>
</div>