{# src/ecommerce/ArticleBundle/Resources/views/Article/search_form.html.twig #}

<form class="form-inline" role="search"
      action="{{ path('ecommerce_article_search') }}" {{ form_enctype(form) }} method="POST">
    <div class="form-group">
        {{ form_widget(form.product, { 'attr': {'class': 'form-control input-md', 'placeholder': 'Rechercher...' } }) }}
    </div>
    <div class="form-group">
        <div class="input-group">
            <i class="fa fa-map-marker input-group-addon" style="background-color: #ffffff;"></i>
            {{ form_widget(form.province, { 'attr': {'class': 'form-control input-md'} }) }}
        </div>
    </div>

        {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary input-md"><i class="fa fa-search"></i> Rechercher</button>
</form>