{# src/ecommerce/ArticleBundle/Resources/views/Article/search_form.html.twig #}

<form class="navbar-form" role="search"
      action="{{ path('ecommerce_article_search') }}" {{ form_enctype(form) }} method="POST">
    <div class="input-group">
        <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
                <span id="search_concept">Province</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#Bas-Uele">Bas-Uele</a></li>
                <li><a href="#Équateur">Équateur</a></li>
                <li><a href="#Haut-Katanga">Haut-Katanga</a></li>
                <li><a href="#Haut-Lomami">Haut-Lomami</a></li>
                <li><a href="#Haut-Uele">Haut-Uele</a></li>
                <li><a href="#Ituri">Ituri</a></li>
                <li><a href="#Kasaï">Kasaï</a></li>
                <li><a href="#Kasaï-Central">Kasaï-Central</a></li>
                <li><a href="#Kasaï-Oriental">Kasaï-Oriental</a></li>
                <li><a href="#Kinshasa">Kinshasa</a></li>
                <li><a href="#Kongo-Central">Kongo-Central</a></li>
                <li><a href="#Kwango">Kwango</a></li>
                <li><a href="#Kwilu">Kwilu</a></li>
                <li><a href="#Lomami">Lomami</a></li>
                <li><a href="#Lualaba">Lualaba</a></li>
                <li><a href="#Mai-Ndombe">Mai-Ndombe</a></li>
                <li><a href="#Maniema">Maniema</a></li>
                <li><a href="#Mongala">Mongala</a></li>
                <li><a href="#Nord-Kivu">Nord-Kivu</a></li>
                <li><a href="#Nord-Ubangi">Nord-Ubangi</a></li>
                <li><a href="#Sankuru">Sankuru</a></li>
                <li><a href="#Sud-Kivu">Sud-Kivu</a></li>
                <li><a href="#Sud-Ubangi">Sud-Ubangi</a></li>
                <li><a href="#Tanganyika">Tanganyika</a></li>
                <li><a href="#Tshopo">Tshopo</a></li>
                <li><a href="#Tshuapa">Tshuapa</a></li>
                <li class="divider"></li>
                <li><a href="#Toutes">Toutes</a></li>
            </ul>
        </div>
        {#<input type="hidden" name="search_param" value="all" id="search_param">#}

        {#<input type="text" class="form-control" name="x" placeholder="Search term...">#}

        {{ form_widget(form.province, { 'attr': {'class': 'form-control'} }) }}
        {{ form_widget(form.product, { 'attr': {'class': 'form-control', 'placeholder': 'Search Product...' } }) }}

        {{ form_rest(form) }}

        <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </span>
    </div>
</form>