{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="ltr" lang="1" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="ltr" lang="1" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html idmmzcc-ext-docid="2301399631872" dir="ltr"><!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">


    <title>
        {% block titre %}Shop{% endblock %}
    </title>
    <meta charset="UTF-8">
    <!-- base href="http://opencart.magentech.com/themes/so_lovefashion/" -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="{% block auteur %}{% endblock %}">
    <meta name="keywords" content="{% block mots %}{% endblock %}">

    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->

    <link href="{{ asset('img/favicon.png') }}" rel="icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{{ asset('css/font-awesome.min') }}" rel="stylesheet">
    <link href="{{ asset('css/lib.css') }}" rel="stylesheet">


    <link id="color_scheme" href="{{ asset('css/theme-red.css') }}"
          rel="stylesheet">

    <link href="{{ asset('css/style_004.css') }}" type="text/css" rel="stylesheet" media="screen">
    <link href="{{ asset('css/css3.css') }}" type="text/css" rel="stylesheet" media="screen">
    <link href="{{ asset('css/owl.css') }}" type="text/css" rel="stylesheet" media="screen">
    <link href="{{ asset('css/so-listing-tabs.css') }}" type="text/css" rel="stylesheet" media="screen">
    <link href="{{ asset('css/animate.css') }}" type="text/css" rel="stylesheet" media="screen">
    <link href="{{ asset('css/style_002.css') }}" type="text/css" rel="stylesheet" media="screen">
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" media="screen">
    <link href="{{ asset('css/style_003.css') }}" type="text/css" rel="stylesheet" media="screen">
    <link href="{{ asset('css/so_searchpro.css') }}" type="text/css" rel="stylesheet" media="screen">
    <link href="{{ asset('css/so_megamenu.css') }}" type="text/css" rel="stylesheet" media="screen">
    <link href="{{ asset('css/wide-grid.css') }}" type="text/css" rel="stylesheet" media="screen">


    <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css') }}" media="screen">

    <!--[if gt IE 9]><!-->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ie9-and-up.css') }}">
    <!--<![endif]-->


    <style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif
        }        </style>

    <link href="{{ asset('css/css.css') }}" rel="stylesheet" type="text/css">

    <style type="text/css">
        .module.newsletter .form-group .subcribe .btn-lg, .so-extraslider .extraslider-inner .item-wrap .item-info a, h1, h2, h3, h4, h5, h6, .blog-category ul li.list-group-item a, .price .price-new, .price span.price, .block_category a, .addToCart, .label-sale, .label-new, .num-time, .quickview, .ltabs-tabs li > span, .name, .quick-login, .quick-register, .menu .main-menu, .loadmore .more-view, .popup-title, .send-mail, .producttab .tabsslider .nav-tabs li a, .left-content-product .cart input, .subcribe, .box-heading, ul.megamenu > li > a, .price-old, .sohomeslider-description a, .time-item, .custom-shipping .btn, .slider-sale-up .button, .Our-stories .block-right .content a.btn {
            font-family: Roboto Condensed, sans-serif
        }        </style>


    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-1.12.3.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('js/jquery-2.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('js/libs.js') }}"></script>

    <script type="text/javascript"
            src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('js/common.js') }}"></script>

    <script type="text/javascript"
            src="{{ asset('js/so.js') }}"></script>


    <script type="text/javascript"
            src="{{ asset('js/jquery_002.js') }}"></script>


    <script type="text/javascript"
            src="{{ asset('js/owl.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('js/so_megamenu.js') }}"></script>


    <style type="text/css">
        body {
            background-color: inherit;
        }
    </style>


    <link href="{{ asset('css/shortcodes.css') }}" rel="stylesheet">
    <script type="text/javascript"
            src="{{ asset('js/shortcodes.js') }}"></script>

</head>

<body class="common-home ltr res layout-1  no_msie">
<div id="wrapper" class="wrapper-boxed">

    <header id="header" class=" variantleft">

        <!-- Header Top -->

        {{ render(controller("ecommerceAccueilBundle:Accueil:header")) }}

        <!-- end container for top line of header -->


        <!-- Header Bottom -->
        <section class="header-bottom">

            <!-- *** MENU PRINCIPAL ***
_________________________________________________________ -->
            {{ render(controller("ecommerceAccueilBundle:Accueil:menu")) }}
            <!-- *** MENU PRINCIPAL FIN *** -->

        </section>

        <!-- Navbar switcher -->
        <!-- //end Navbar switcher -->
    </header>


    {% block contenu %}
    {% endblock %}


    <footer class="footer-container">
        <section class="footer-top-block ">
            <div class="container content">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12 contact-payment-footer">
                        <div class="content-payment">
                            <h3 class="title">
                                <img alt="logo"
                                     src="{{ asset('img/logo_footer.png') }}">
                            </h3>

                            <p>
                                À partir de votre écran, nous vous offrons la possibilité d'entrer en contact avec des
                                vendeurs de
                                tout le pays pour l'achat de toute sorte de produit qui pourra vous intéresser. Il
                                suffira juste
                                pour cela de vous connecter et d'ajouter à chaque fois à votre panier n'importe quel
                                produit de notre
                                catalogue. Pour ensuite visualiser votre liste d'achat en toute quietude.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12 footer-link-block">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-xs-6">

                                <div class="module clearfix">
                                    <h3 class="modtitle">
                                        Restez connecté </h3>
                                    <div class="modcontent">
                                        <ul class="connect-with-us">

                                            <li>
                                                <a href="https://www.facebook.com/SmartAddons.page"><i
                                                            class="fa fa-facebook"></i><span>Nous suivre sur facebook</span></a>
                                            </li>

                                            <li>
                                                <a href="https://twitter.com/smartaddons"><i
                                                            class="fa fa-twitter"></i><span>Nous suivre sur on twitter</span></a>
                                            </li>

                                            <li>
                                                <a href="https://www.linkedin.com/in/smartaddons"><i
                                                            class="fa fa-linkedin-square"></i><span>Nous suivre sur on linkedin</span></a>
                                            </li>

                                            <li>
                                                <a href="#"><i class="fa fa-rss"></i><span>RSS feeds</span></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-6">

                                <div class="module clearfix">
                                    <h3 class="modtitle">Information</h3>
                                    <div class="modcontent">
                                        <ul class="menu">
                                            <li>
                                                <a href="#">Gallery</a>
                                            </li>
                                            <li>
                                                <a href="#">A propos
                                                    Us</a></li>
                                            <li>
                                                <a href="#">FAQ</a>
                                            </li>
                                            <li>
                                                <a href="#">Terms
                                                    &amp; Conditions</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-6">

                                <div class="module clearfix">
                                    <h3 class="modtitle">Service Client</h3>
                                    <div class="modcontent">
                                        <ul class="menu">
                                            <li>
                                                <a href="#">Contact
                                                    Us</a></li>
                                            <li>
                                                <a href="#">Remarques</a>
                                            </li>
                                            <li>
                                                <a href="#">Site
                                                    Map</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="copyright-text">
                            © 2016 KaIp Technology. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script type="text/javascript">
            window.cookieconsent_options = {
                "message": "This website uses cookies to ensure you get the best experience on our website - ",
                "dismiss": "Got it!",
                "learnMore": "More info",
                "link": "https://en.wikipedia.org/wiki/HTTP_cookie",
                "theme": "dark-bottom"
            };
        </script>

        <!-- End Cookie plugin -->


    </footer>
    <!-- //end Footer -->


    <div id="sp-cpanel_btn" class="isDown visible-lg">
        <i class="fa fa-cog"></i>
    </div>

    <div id="sp-cpanel" class="sp-delay">
        <h2 class="sp-cpanel-title"> Demo Options <span class="sp-cpanel-close"> <i class="fa fa-times"> </i></span>
        </h2>
        <div id="sp-cpanel_settings">
            <div class="panel-group">
                <label>Color Scheme</label>
                <div class="group-schemes">
                    <span data-original-title="Red" data-toggle="tooltip" title="" data-scheme="red"
                          class="item_scheme selected"><span style="background: #e74847"></span></span>
                    <span data-original-title="Blue" data-toggle="tooltip" title="" data-scheme="blue"
                          class="item_scheme "><span style="background: #3f9dd3"></span></span>
                    <span data-original-title="Orange" data-toggle="tooltip" title="" data-scheme="orange"
                          class="item_scheme "><span style="background: #fb9220"></span></span>
                    <span data-original-title="Violet" data-toggle="tooltip" title="" data-scheme="violet"
                          class="item_scheme "><span style="background: #a44ec4"></span></span>
                    <span data-original-title="Green" data-toggle="tooltip" title="" data-scheme="green"
                          class="item_scheme "><span style="background: #84cd5c"></span></span>
                </div>
            </div>

            <div class="panel-group ">
                <label>Layout Box</label>
                <div class="group-boxed">
                    <select id="cp-layoutbox" name="cplayoutbox" class="form-control"
                            onchange="changeLayoutBox(this.value);">
                        <option value="full">Wide</option>
                        <option selected="selected" value="boxed">Boxed</option>
                        <option value="iframed">Iframed</option>
                        <option value="rounded">Rounded</option>
                    </select>
                </div>
            </div>

            <div class="panel-group">
                <label>Body Image</label>

                <div class="group-pattern">
                    <div data-pattern="28" class="img-pattern "><img
                                src="{{ asset('img/28.png') }}"
                                alt="pattern 28"></div>
                    <div data-pattern="29" class="img-pattern "><img
                                src="{{ asset('img/29.png') }}"
                                alt="pattern 29"></div>
                    <div data-pattern="30" class="img-pattern "><img
                                src="{{ asset('img/30.png') }}"
                                alt="pattern 30"></div>
                    <div data-pattern="31" class="img-pattern "><img
                                src="{{ asset('img/31.png') }}"
                                alt="pattern 31"></div>
                    <div data-pattern="32" class="img-pattern "><img
                                src="{{ asset('img/32.png') }}"
                                alt="pattern 32"></div>
                    <div data-pattern="33" class="img-pattern "><img
                                src="{{ asset('img/33.png') }}"
                                alt="pattern 33"></div>
                    <div data-pattern="34" class="img-pattern "><img
                                src="{{ asset('img/34.png') }}"
                                alt="pattern 34"></div>
                    <div data-pattern="35" class="img-pattern "><img
                                src="{{ asset('img/35.png') }}"
                                alt="pattern 35"></div>
                    <div data-pattern="36" class="img-pattern "><img
                                src="{{ asset('img/36.png') }}"
                                alt="pattern 36"></div>
                    <div data-pattern="37" class="img-pattern "><img
                                src="{{ asset('img/37.png') }}"
                                alt="pattern 37"></div>
                    <div data-pattern="38" class="img-pattern "><img
                                src="{{ asset('img/38.png') }}"
                                alt="pattern 38"></div>
                    <div data-pattern="39" class="img-pattern "><img
                                src="{{ asset('img/39.png') }}"
                                alt="pattern 39"></div>
                    <div data-pattern="40" class="img-pattern "><img
                                src="{{ asset('img/40.png') }}"
                                alt="pattern 40"></div>
                    <div data-pattern="41" class="img-pattern "><img
                                src="{{ asset('img/41.png') }}"
                                alt="pattern 41"></div>
                    <div data-pattern="42" class="img-pattern "><img
                                src="{{ asset('img/42.png') }}"
                                alt="pattern 42"></div>
                    <div data-pattern="43" class="img-pattern "><img
                                src="{{ asset('img/43.png') }}"
                                alt="pattern 43"></div>
                    <div data-pattern="44" class="img-pattern "><img
                                src="{{ asset('img/44.png') }}"
                                alt="pattern 44"></div>
                    <div data-pattern="45" class="img-pattern "><img
                                src="{{ asset('img/45.png') }}"
                                alt="pattern 45"></div>
                </div>
                <p class="label-sm">Background only applies for Boxed,Framed, Rounded Layout</p>
            </div>

            <div class="reset-group">
                <a href="http://opencart.magentech.com/themes/so_lovefashion/index.php" class="btn btn-success "
                   onclick="ResetAll()">Reset</a>
            </div>

        </div>

    </div>

    <script type="text/javascript"><!--
        var themes = 'so-lovefashion';
        //--></script>
    <link rel="stylesheet" property="stylesheet"
          href="{{ asset('css/cpanel.css') }}" type="text/css"
          media="all">
    <script type="text/javascript" src="{{ asset('js/cpanel.js') }}"></script>


    <!-- Social widgets -->
    <section class="social-widgets visible-lg">
        <ul class="items">
            <li class="item item-01 facebook">
                <a href="#"
                   class="tab-icon"><span class="fa fa-facebook"></span></a>
                <div class="tab-content">
                    <div class="title"><h5>FACEBOOK</h5></div>
                    <div class="loading">
                        <img src="{{ asset('img/ajax-loader.gif') }}"
                             class="ajaxloader" alt="loader">
                    </div>
                </div>
            </li>

            <li class="item item-02 twitter">
                <a href="#"
                   class="tab-icon"><span class="fa fa-twitter"></span></a>
                <div class="tab-content">
                    <div class="title"><h5>TWITTER FEEDS</h5></div>
                    <div class="loading">
                        <img src="{{ asset('img/ajax-loader.gif') }}"
                             class="ajaxloader" alt="loader">
                    </div>
                </div>
            </li>

            <li class="item item-03 youtube">
                <a href="#"
                   class="tab-icon"><span class="fa fa-youtube"></span></a>
                <div class="tab-content">
                    <div class="title"><h5>YouTube</h5></div>
                    <div class="loading">
                        <img src="{{ asset('img/ajax-loader.gif') }}"
                             class="ajaxloader" alt="loader">
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <!-- //end Social widgets -->

</div>


</body>
</html>