{# src/ecommerce/AccueilBundle/Resources/views/Accueil/404.html.twig #}

{% extends "ecommerceAccueilBundle::layout.html.twig" %}

{% block titre %}
    Page introuvable ! - {{ parent() }}
{% endblock %}

{% block contenu_accueil %}

    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
            </li>
            <li>Page introuvable !</li>
        </ul>

        <div class="row">
            <div id="content" class="container error-page">
                <div class="wrapper_404page">
                    <div class="col-lg-7 col-md-7">
                        <div class="content-404page">
                            <p class="top-text">La page que vous cherchez n'existe pas (ou plus)!</p>
                            <p class="img-404"><img src="{{ asset('img/404-img-text.png') }}" alt=""></p>
                            <p class="bottom-text">Pour continuer veuillez retourner à la page précédente ou retourner
                                simplement à la page d’accueil.</p>
                            <div class="button-404">
                                <a href="javascript:void(0);" onclick="goBack()" class="btn-404 prev-page-btn"
                                   title="PREVIOUS PAGE">PRECEDENT</a>
                                <a href="{{ path('ecommerce_accueil_accueil') }}" class="btn-404 back2home"
                                   title="BACK TO HOMEPAGE">PAGE D'ACCUEIL</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-5">
                        <div class="img-right-404">
                            <img src="{{ asset('img/404-image.png') }}" alt="">
                        </div>
                    </div>
                </div>



            </div>

        </div>


    </div>

{% endblock %}