{# src/ecommerce/AccueilBundle/Resources/views/Accueil/index.html.twig #}

{% extends "ecommerceAccueilBundle::layout.html.twig" %}

{% block titre %}
    Bienvenu - {{ parent() }}
{% endblock %}

{% block active %}class="active"{% endblock %}

{% block contenu_accueil %}

    <div class="container">
        <div class="col-md-9">
            <div id="main-slider">
                <div class="item">
                    <img src="{{ asset('images/main-slider1.jpg') }}" alt="" class="img-responsive">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{{ asset('images/main-slider2.jpg') }}" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{{ asset('images/main-slider3.jpg') }}" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{{ asset('images/main-slider4.jpg') }}" alt="">
                </div>
            </div>
            <!-- /#main-slider -->
        </div>


        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="banners">
                <a href="#">
                    <img src="{{ asset('images/banner.jpg') }}" alt="sales 2014" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="banners">
                <a href="#">
                    <img src="{{ asset('images/banner.jpg') }}" alt="sales 2014" class="img-responsive">
                </a>
            </div>
        </div>

    </div>


    <!-- *** HOT PRODUCT SLIDESHOW ***
    _________________________________________________________ -->
    {% for items in listOfItems %}
        <div id="hot">

            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">High-Tech</a>
                        </li>
                        <li>A la Une Téléphonie, Mobilité</li>
                    </ul>
                </div>

                <div class="product-slider">

                    {% for article in items %}
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{ path('ecommerce_article_detail', {'id': article.id, 'slug':article.slug}) }}">
                                                {# On vérifie qu'une image est bien associée à l'article #}
                                                {% if article.image is not null %}
                                                    <img src="{{ asset(article.image.webPath) }}"
                                                         alt="{{ article.image.alt }}" class="img-responsive">
                                                {% else %}
                                                    <img src="{{ asset('images/detailbig2.jpg') }}"
                                                         alt="{{ article.getNameItem() }}" class="img-responsive">
                                                {% endif %}

                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{ path('ecommerce_article_detail', {'id': article.id, 'slug':article.slug}) }}">
                                                {# On vérifie qu'une image est bien associée à l'article #}
                                                {% if article.image is not null %}
                                                    <img src="{{ asset(article.image.webPath) }}"
                                                         alt="{{ article.image.alt }}" class="img-responsive">
                                                {% else %}
                                                    <img src="{{ asset('images/detailbig2.jpg') }}"
                                                         alt="{{ article.getNameItem() }}" class="img-responsive">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ path('ecommerce_article_detail', {'id': article.id, 'slug':article.slug}) }}"
                                   class="invisible">
                                    {# On vérifie qu'une image est bien associée à l'article #}
                                    {% if article.image is not null %}
                                        <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}"
                                             class="img-responsive">
                                    {% else %}
                                        <img src="{{ asset('images/detailbig2.jpg') }}"
                                             alt="{{ article.getNameItem() }}" class="img-responsive">
                                    {% endif %}
                                </a>
                                <div class="text">
                                    <h3>
                                        <a href="{{ path('ecommerce_article_detail', {'id': article.id, 'slug':article.slug}) }}">{{ article.getNameItem() }}</a>
                                    </h3>
                                    <p class="price">
                                        <del>143.00 Fc</del>
                                        {{ article.price }} Fc
                                    </p>
                                </div>
                                <!-- /.text -->

                                <div class="ribbon sale">
                                    <div class="theribbon">SALE</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                                <div class="ribbon new">
                                    <div class="theribbon">NEW</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>
                    {% else %}
                        <div class="col-sm-12">
                            <h3 class="text-center">Pas (encore !) d'articles</h3>
                        </div>
                    {% endfor %}

                </div>
                <!-- /.product-slider -->
            </div>
            <!-- /.container -->

        </div>
        <!-- /#hot -->
    {% else %}
    {% endfor %}

    <!-- *** HOT END *** -->




    <!-- *** GET INSPIRED ***
    _________________________________________________________ -->
    <div class="container" data-animate="fadeInUpBig">
        <div class="col-md-12">
            <div class="box slideshow">
                <h3>Get Inspired</h3>
                <p class="lead">Get the inspiration from our world class designers</p>
                <div id="get-inspired" class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="#">
                            <img src="{{ asset('images/getinspired1.jpg') }}" alt="Get inspired" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="{{ asset('images/getinspired2.jpg') }}" alt="Get inspired" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="{{ asset('images/getinspired3.jpg') }}" alt="Get inspired" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *** GET INSPIRED END *** -->

{% endblock %}