{# src/ecommerce/AccueilBundle/Resources/views/Accueil/menu.html.twig #}

{# Ce template n'herite de personne, tout comme le template inclus avec {% include %}. #}

<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="container">
    <div class="row">

        <!-- Main menu -->
        <div class="header-bottom-left col-lg-10 col-md-9 col-xs-5">

            <div class="responsive megamenu-style-dev">
                <nav class="navbar-default">
                    <div class=" container-megamenu  horizontal">
                        <div class="navbar-header">
                            <button type="button" id="show-megamenu" data-toggle="collapse"
                                    class="navbar-toggle">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="megamenu-wrapper">

                            <span id="remove-megamenu" class="fa fa-times"></span>

                            <div class="megamenu-pattern">
                                <div class="container">
                                    <ul class="megamenu" data-transition="slide" data-animationtime="500">

                                        <li class="">
                                            <a href="{{ path('ecommerce_accueil_accueil') }}">
                                                            <span>
                                                                <strong>Accueil</strong>
                                                            </span>
                                            </a>
                                        </li>


                                        {% for category in categories %}
                                            <li class="respon-md style-padding with-sub-menu hover">
                                                <p class="close-menu"></p>
                                                <a href="{{ path('ecommerce_article_cat', {'id': category.id}) }}"
                                                   class="clearfix">
                                                    <strong>
                                                        {{ category.name }}
                                                    </strong>

                                                    <b class="fa fa-angle-down"></b>
                                                </a>
                                                <div class="sub-menu"
                                                     style="width: 70%; display: none; right: auto;">
                                                    <div style="display: none; height: 375px;" class="content">
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <div class="categories ">
                                                                    <div class="row">
                                                                        <div class="col-sm-6 static-menu">
                                                                            <div class="menu">
                                                                                <ul>
                                                                                    <li>
                                                                                        <a href="#" class="main-menu">Top
                                                                                            Catégories</a>
                                                                                        <ul>
                                                                                            {% for genre in category.genres %}
                                                                                                {% if loop.index < 5 %}
                                                                                                    <li>
                                                                                                        <a href="{{ path('ecommerce_article_categorie', {'id': genre.id}) }}">{{ genre.name }}</a>
                                                                                                    </li>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6 static-menu">
                                                                            <div class="menu">
                                                                                <ul>
                                                                                    <li>
                                                                                        <a href="#" class="main-menu">Autres
                                                                                            Catégories</a>
                                                                                        <ul>
                                                                                            {% for genre in category.genres %}
                                                                                                {% if loop.index > 4 %}
                                                                                                    <li>
                                                                                                        <a href="{{ path('ecommerce_article_categorie', {'id': genre.id}) }}">{{ genre.name }}</a>
                                                                                                    </li>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {#<div class="col-sm-4">
                                                                <div class="html ">
                                                                    <img src="{{ asset('img/men.png') }}" alt="banner">
                                                                </div>
                                                            </div>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% else %}
                                            <p>Pas (encore !) d'articles</p>
                                        {% endfor %}


                                        <li class=""><p class="close-menu"></p><a
                                                    href="{{ path('ecommerce_accueil_contact') }}">
                                                <strong>
                                                    Contact
                                                </strong>

                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- //end Navbar -->
        </div>


        <div class="header-bottom-right col-lg-2 col-md-3 col-xs-7">
            <ul class="log-reg">
                <li class="quick-login">

                    {#<div class="dropdown-login">
                        <div class="row">
                            <div class="col-sm-12" id="quick-login">

                                <div class="form-group input input-user required">
                                    <input placeholder="Email" name="email" id="input-email"
                                           class="form-control" type="text">
                                </div>
                                <div class="form-group input input-pass required">
                                    <input placeholder="Password" name="password" value=""
                                           id="input-password" class="form-control" type="password">
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary loginaccount"
                                            data-loading-text="Loading...">Login
                                    </button>
                                </div>
                                <div class="form-group forgotten">
                                    <a href="http://opencart.magentech.com/themes/so_lovefashion/index.php?route=account/forgotten">Forgotten
                                        Password</a>
                                </div>
                            </div>

                        </div>

                    </div>#}


                    {#<script type="text/javascript"><!--
                        $(document).ready(function ($) {
                            var ua = navigator.userAgent,
                                    _device = (ua.match(/iPad/i) || ua.match(/iPhone/i) || ua.match(/iPod/i)) ? "smartphone" : "desktop";

                            if (_device == "desktop") {
                                $(".quick-login .btn-login").bind('click', function () {
                                    $('.dropdown-login').toggle();
                                });
                            } else {
                                $('.quick-login .btn-login').bind('touchstart', function () {
                                    $('.dropdown-login').toggle();
                                });
                            }
                        });
                        //-->
                    </script>


                    <script type="text/javascript"><!--
                        $('#quick-login input').on('keydown', function (e) {
                            if (e.keyCode == 13) {
                                $('#quick-login .loginaccount').trigger('click');
                            }
                        });
                        $('#quick-login .loginaccount').click(function () {
                            $.ajax({
                                url: 'index.php?route=common/quicksignup/login',
                                type: 'post',
                                data: $('#quick-login input[type=\'text\'], #quick-login input[type=\'password\']'),
                                dataType: 'json',
                                beforeSend: function () {
                                    $('#quick-login .loginaccount').button('loading');
                                    $('#quick-login .alert-danger').remove();
                                },
                                complete: function () {
                                    $('#quick-login .loginaccount').button('reset');
                                },
                                success: function (json) {
                                    $('#quick-login .form-group').removeClass('has-error');
                                    if (json['islogged']) {
                                        window.location.href = "index.php?route=account/account";
                                    }

                                    if (json['error']) {
                                        $('#quick-login .modal-header').after('<div class="alert alert-danger" style="margin:5px;"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                                        $('#quick-login #input-email').parent().addClass('has-error');
                                        $('#quick-login #input-password').parent().addClass('has-error');
                                        $('#quick-login #input-email').focus();
                                    }
                                    if (json['success']) {
                                        loacation();
                                        $('#quick-login').modal('hide');
                                    }

                                }
                            });
                        });
                        //--></script>

                    <script type="text/javascript"><!--
                        function loacation() {
                            location.reload();
                        }
                        //--></script>#}


                    <span class="btn-login">
                        <a href="{{ path('ecommerce_article_create') }}" style="color: white">
                            <i class="fa fa-gift" aria-hidden="true"></i> Poster Produit
                        </a>
                    </span>
                </li>
                {#<li class="quick-register">
                    <div>
                        <a href="#"
                           class="btn-register">Inscription</a></div>
                </li>#}

            </ul>
        </div>

    </div>
</div>


<!-- *** NAVBAR END *** -->