{# src/ecommerce/AccueilBundle/Resources/views/Accueil/menu.html.twig #}

{# Ce template n'herite de personne, tout comme le template inclus avec {% include %}. #}

<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand home" href="{{ path('ecommerce_accueil_accueil') }}" data-animate-hover="bounce">
                <img src="{{ asset('images/logo.png') }}" alt="Lemondrop" class="hidden-xs">
                <img src="{{ asset('images/logo-small.png') }}" alt="Lemondrop" class="visible-xs"><span class="sr-only">Lemondrop - allez à la page d'accueil</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-default navbar-toggle" href="{{ path('ecommerce_article_create') }}">
                    <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">Poster un article</span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-left">
                <li {% block active %}{% endblock %}>
                    <a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
                </li>

                {% for category in categories %}

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">{{ category.name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Top Catégories</h5>
                                            <ul>
                                                {% for genre in category.genres %}
                                                    {% if loop.index < 5 %}
                                                        <li>
                                                            <a href="{{ path('ecommerce_article_categorie', {'id': genre.id}) }}">{{ genre.name }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Autres catégories</h5>
                                            <ul>
                                                {% for genre in category.genres %}
                                                    {% if loop.index > 4 %}
                                                        <li>
                                                            <a href="{{ path('ecommerce_article_categorie', {'id': genre.id}) }}">{{ genre.name }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="{{ asset('images/banniere_mode.jpg') }}" class="img img-responsive" alt="Mode et vêtements">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                {% else %}
                    <p>Pas (encore !) d'articles</p>
                {% endfor %}
            </ul>

        </div>
        <!--/.nav-collapse -->

        <div class="navbar-buttons">

            <div class="navbar-collapse collapse right" id="basket-overview">
                <a href="{{ path('ecommerce_article_create') }}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">Poster un article</span></a>
            </div>
            <!--/.nav-collapse -->

            {#            <div class="navbar-collapse collapse right" id="search-not-mobile">
                            <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                                <span class="sr-only">Toggle search</span>
                                <i class="fa fa-search"></i>
                            </button>
                        </div>#}

        </div>

        {#<div class="collapse clearfix" id="search">

            <form class="navbar-form" role="search"
                  action="{{ path('ecommerce_article_search') }}" {{ form_enctype(form) }} method="POST">
                <div class="input-group">
                    {{ form_widget(form.product, { 'attr': {'class': 'form-control', 'placeholder': 'Rechercher' } }) }}
                    <div class="has-error" style="color: red">
                        {{ form_errors(form.product) }}
                    </div>

                    {{ form_rest(form) }}

                    <span class="input-group-btn">

                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                    </span>
                </div>
            </form>

        </div>#}
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->
<!-- *** NAVBAR END *** -->