{# src/ecommerce/AccueilBundle/Resources/views/Accueil/publications.html.twig #}

{% extends "ecommerceAccueilBundle::layout.html.twig" %}

{% block titre %}
    Mes articles - {{ parent() }}
{% endblock %}

{% block contenu_accueil %}

    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
                </li>
                <li>Mes articles</li>
            </ul>
        </div>

        <div class="col-md-9" id="basket">

            <div class="box">

                <form method="post" action="checkout1.html">

                    <h1>Articles postés</h1>
                    <p class="text-muted">Vous avez déjà posté actuellement 3 article(s).</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Article</th>
                                    <th>Quantité</th>
                                    <th>Prix unitaire</th>
                                    <th>Réduction</th>
                                    <th colspan="2">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <img src="{{ asset('images/detailsquare.jpg') }}" alt="Blouse blanche Armani">
                                        </a>
                                    </td>
                                    <td><a href="#">Blouse blanche Armani</a>
                                    </td>
                                    <td>
                                        <input type="number" value="2" class="form-control">
                                    </td>
                                    <td>$123.00</td>
                                    <td>$0.00</td>
                                    <td>$246.00</td>
                                    <td><a href="#"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <img src="{{ asset('images/basketsquare.jpg') }}" alt="Robe noire Zara">
                                        </a>
                                    </td>
                                    <td><a href="#">Robe noire Zara</a>
                                    </td>
                                    <td>
                                        <input type="number" value="1" class="form-control">
                                    </td>
                                    <td>$200.00</td>
                                    <td>$0.00</td>
                                    <td>$200.00</td>
                                    <td><a href="#"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <img src="{{ asset('images/detailsquare.jpg') }}" alt="Colier dame">
                                        </a>
                                    </td>
                                    <td><a href="#">Colier dame</a>
                                    </td>
                                    <td>
                                        <input type="number" value="2" class="form-control">
                                    </td>
                                    <td>$40.00</td>
                                    <td>$0.00</td>
                                    <td>$15.00</td>
                                    <td><a href="#"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="5">Total</th>
                                    <th colspan="2">$55.00</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.table-responsive -->

                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i> Voir tous les articles</a>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-default"><i class="fa fa-refresh"></i> Mettre à jour articles</button>
                            <button type="submit" class="btn btn-primary">Confirmer changements <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>

                </form>

            </div>
            <!-- /.box -->


        </div>
        <!-- /.col-md-9 -->

        <div class="col-md-3">
            <div class="box" id="order-summary">
                <div class="box-header">
                    <h3>Détails article</h3>
                </div>
                <p class="text-muted">Voici les détails de votre article sélectionné.</p>

                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Prix article</td>
                                <th>$446.00</th>
                            </tr>
                            <tr>
                                <td>Transport et manutension</td>
                                <th>$10.00</th>
                            </tr>
                            <tr>
                                <td>Taxe</td>
                                <th>$0.00</th>
                            </tr>
                            <tr class="total">
                                <td>Total</td>
                                <th>$456.00</th>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->

{% endblock %}