<div class="container">

    <div class="col-md-12">

        <ul class="breadcrumb">
            <li><a href="{{ path('ecommerce_accueil_accueil') }}">Accueil</a>
            </li>
            <li>Inscription</li>
        </ul>

    </div>

    <div class="col-sm-6 col-sm-offset-3">
        <div class="box">
            <h1>Inscription</h1>
            
            <p class="text-muted">Vous avez déjà un compte? <a href="{{ path('fos_user_security_login') }}">Connectez-vous</a></p>

            <hr>

            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
                    <div class="has-error" style="color: red">
                        {{ form_errors(form.username) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
                    <div class="has-error" style="color: red">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
                    <div class="has-error" style="color: red">
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password_confirmation">Vérification</label>
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
                    <div class="has-error" style="color: red">
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                </div>

                {{ form_rest(form) }}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> S'inscrire</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.container -->